.addpost{
    float: right;
    margin: 16px;
}
.addpost-btn{
    border: 1px solid rgb(165, 165, 165);
    background-color: #f8f9fa;
    text-align: center;
    
}
.addpost  button a {
    color: #000;
    text-decoration: none;
}
.addpost-btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
/* Style the button that is used to open and close the collapsible content */


.collapsible {
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    color: rgb(111, 49, 228);
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  .nav {
    float: right;
  }